h1#addCoffeeRecipeHeading {
    color: wheat;
    font-size: -webkit-xxx-large;
    font-weight: 900;
    margin-left: 29%;
    font-family: -webkit-body;
    font-style: italic;
    text-shadow: 2px 2px #F98F3C;
}
.item{
    background: #333;
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
    margin: 20px;
}
div .item{

    background-size: 1500px 300px ;
    background-repeat: no-repeat;
}
div#addcoffeerecipediv {
    margin-left: 34%;
    font-size: larger;
    color: rgb(255, 140, 0);
    font-weight: 900;
    margin-top: 44px;
}
body#addCoffeeRecipeBody {
    background-color: black;
}
input#coffee_name {
    margin-left: 54px;
    margin-bottom: 12px;
}
input#recipe_price {
    margin-left: 59px;
    margin-bottom: 12px;
}
input#unit_coffee {
    margin-left: 61px;
    margin-bottom: 12px;
}
input#unit_milk {
    margin-left: 80px;
    margin-bottom: 12px;
}
input#unit_chocolate {
    margin-left: 32px;
    margin-bottom: 12px;
}
input#unit_sugar {
    margin-left: 66px;
    margin-bottom: 12px;
}
input#add_recipe {
    margin-left: 134px;
    margin-top: 18px;
}
div#addCofeeRecipeImage {
    margin-left: 61px;
    margin-top: -140px;
}
#addBack {
    margin-bottom: 191px;
    margin-right: -130px;
    margin-top: -56px;
    margin-left: 42px;
    font-weight: 900;

}
#lightbox {
    position: fixed;
    top: 188px;
    left: 282px;
    width: 50%;
    height: 50%;
    background: url(/content/ttnbucks/ttnbucks_img/overlay.png) repeat;
    text-align: center;
}

