h1#editConfirmHeading {
    font-size: -webkit-xxx-large;
    font-weight: 900;
    color: black;
    margin-left: -8px;
    margin-top: 63px;
}
#lightbox {
    position: fixed;
    top: 220px;
    left: 282px;
    width: 50%;
    height: 30%;
    background: url(/content/ttnbucks/ttnbucks_img/overlay.png) repeat;
    text-align: center;
}
body#editConfirmBody {
    background-color: black;
}
a#editConfirmHref1 {
    margin-top: 12px;
    color: black;
    font-weight: 900;
}
div#editConfirmImages2 {
    margin-top: 280px;
    margin-left: 74px;
}
div#editConfirmImages1 {
    margin-left: 74px;
}
a#editConfirmHref2 {
    color: black;
    font-weight: 900;
    margin-top: 11px;
    margin-left: 93px;
}
