body.orderCoffeeBody {
    background-color: black;
}
h1.orderCoffeeHeading {
    color: wheat;
    font-size: 62px;
    font-weight: 800;
    margin-left: 30%;
    font-family: -webkit-body;
    font-style: italic;
    text-shadow: 2px 2px #F98F3C;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
input.typeahead.tt-query {
    margin-left: 34%;
    margin-top: 6%;
    color: brown;
    font-size: x-large;
    font-weight: 800;
}
select.orderCoffeeSelect {
    margin-left: 35%;
    margin-top: 4%;
    color: brown;
    font-size: x-large;
    width: 31%;
    font-weight: 900;
}
input#order_coffee {
    margin-left: 42%;
    margin-top: 4%;
    color: brown;
    font-size: x-large;
    font-weight: 800;
}
div#orderBack {
    margin-bottom: -29px;
    margin-top: -64px;
    margin-left: 30px;
}
#aOrderBack {
    font-weight: 900;
}
label.error {
    font-size: x-large;
    color: darkorange;
}